<div class="table-responsive">
    <table class="table">
        <thead>
            <tr>
              <th scope="col"></th>
              <th scope="col">Name</th>
              <th scope="col">E-mail</th>
              <th scope="col">Mobile</th>
              <th scope="col">Address</th>
              <th scope="col">latitude and Longitude</th>
              <th>Actions</th>
            </tr>
          </thead>
          <tbody>
            <tr>
                <td scope="col"></td>
                <td scope="col">Name</td>
                <td scope="col">E-mail</td>
                <td scope="col">Mobile</td>
                <td scope="col">Address</td>
                <td scope="col">latitude and Longitude</td>
                <td><button>Edit</button><button>Delete</button></td>
            </tr>
        </tbody>
    </table>
  </div>